@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #2F343F;
  --bg-secondary: #262B33;
  --bg-additional: #444A58;

  --text-primary: #F1F3F6;
  --text-secondary: #94A6C3;
  --text-additional: #6A7B9B;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--text-primary);
  background: var(--bg-secondary);
}

* {
  box-sizing: border-box;
}
